{% extends "admin/base_site.html" %}

{% block content %}
<div>
	<form action="" method="post">{% csrf_token %}
		<div>

			<h2>Reprogramar el trabajo rechazado</h2>
			<br>

			<table>
				{{ form.as_table }}
			</table>

			<br>
			<button type="submit" class="btn btn-success">Aceptar</button>
			<button type="button" onclick="window.history.back(); return false;" class="btn btn-danger">Cancelar</button>

		</div>
	</form>
</div>
{% endblock %}

{% block footer %}

{{ form.media }}
{% endblock %}